body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #000000;
    color: #fff;
    padding-bottom: 1rem;
    text-align: center; 
}

.logo{
    width: 150px;
}

header>div:nth-child(2){
    width: 100%;
    margin-bottom: 1rem;
}
section>img{
    width: 100%;
    border-radius: 7px;
    margin-bottom: 10px;
}
section>img:hover{
    transition: transform 0.2s ease;
    transform: scale(1.1)
}
section{
    column-count: 4;
}
.home-button{
    position: absolute;
    top: 10px;
    left: 10px;
}