.img-produto{
    width: 100%;
}

.botaoSalvar{
    background: rgb(252,193,18);
    background: radial-gradient(circle, rgb(208,56,56) 0%, rgb(119,16,9) 100%);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}
.botaoLimpar{
    background: rgb(252,193,18);
    background: radial-gradient(circle, rgb(26, 21, 21) 0%, rgb(160,154,154) 100%);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}
.desabilitado{
    background-color: #ccc;
}

.imgtabela{
    width: 36px;
}
body {
    background-image: url('../imagens/novo.jpg');
    background-size: cover; /* Para cobrir toda a página */
    background-position: center; /* Para centralizar a imagem */
}


h2{
    color: white;
}
.tabela-container {
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de transparência */
    padding: 10px; /* Ajuste o padding conforme necessário */
    border-radius: 10px; /* Adicione bordas arredondadas para melhorar a aparência */
}
